[submodule "pack/lsp/opt/nvim-lsp"]
	path = pack/lsp/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp.git
[submodule "pack/lsp/opt/completion-nvim"]
	path = pack/lsp/opt/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule "pack/lsp/opt/diagnostic-nvim"]
	path = pack/lsp/opt/diagnostic-nvim
	url = https://github.com/nvim-lua/diagnostic-nvim.git
[submodule "pack/editor/opt/vim-commentary"]
	path = pack/editor/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/editor/opt/vim-surround"]
	path = pack/editor/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/editor/opt/vim-easymotion"]
	path = pack/editor/opt/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/lsp/opt/lsp-status.nvim"]
	path = pack/lsp/opt/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim.git
[submodule "pack/style/opt/gruvbox"]
	path = pack/style/opt/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule "pack/fzf/opt/fzf.vim"]
	path = pack/fzf/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/fzf/opt/fzf"]
	path = pack/fzf/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/lsp/opt/vim-vsnip-integ"]
	path = pack/lsp/opt/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "pack/lsp/opt/vim-vsnip"]
	path = pack/lsp/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "pack/style/opt/vim-airline"]
	path = pack/style/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/lang/opt/vim-jsonnet"]
	path = pack/lang/opt/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "pack/tree/opt/nvim-tree.lua"]
	path = pack/tree/opt/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua.git
[submodule "pack/tree/opt/nvim-web-devicons"]
	path = pack/tree/opt/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "pack/treesitter/opt/nvim-treesitter"]
	path = pack/treesitter/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/treesitter/opt/completion-treesitter"]
	path = pack/treesitter/opt/completion-treesitter
	url = https://github.com/nvim-treesitter/completion-treesitter.git
[submodule "pack/editor/opt/editorconfig-vim"]
	path = pack/editor/opt/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/lang/opt/rust.vim"]
	path = pack/lang/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
